* {
  box-sizing: border-box;
  outline-color: grey;
}

body {
  background-color: #f9f9fa
  color: color: #7c7879;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}

/*Header Styling*/

header {
  align-items: center;
  background-color: #524649;
  display: flex;
  height: 90px;
  padding: 40px;
}

h1 {
  color: #b2a1b1;
  font-size: 2.25em;
  font-weight: 800;
}

h1 span {
  color: #fff;
}

h2 {
  color: #6e646b;
  font-size: 1.4em;
  margin: 10px 0px;
}

input, 
button, 
textarea {
  border-radius: 5px;
  min-height: 40px;
  padding: 5px 10px;
}

input, 
textarea,
.idea-card {
  border: 2px solid #d2cccd;
  color: #7c7879
  line-height: 1.5;
}

input,
textarea {
  font-size: 18px;
}

input:focus,
textarea:focus {
/*  outline-color: grey;*/
}

button {
  background-color: #6e646b;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: .9em;
  font-weight: 600;
  margin: 30px 0px;
}

button:hover {
  background-color: #524649;
}

button:disabled {
  background: #c2c1c0;
}

label {
  color: #7c7879;
  margin-top: 20px;
  margin-bottom: 8px;
}

section {
    margin: auto;
    min-width: 700px;
    width: 50%;
  }

.search-box {
  align-items: center;
  display: flex;
  flex: 25%;
  justify-content: flex-end;
}

/*no outline class*/
h2:focus, 
button:focus,
.search-input:focus,
.search-btn:focus,
.body-txt:focus,
.title-txt:focus {
  outline: none;
}

.search-input {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
  width: 275px;
}

.search-btn {
  background-color: #d2cccd;
  border-radius: 0px 5px 5px 0px;
  height: 41px;
}

i.fa-lg {
  color: #fff;
  font-size: 1.2em;
  width: 25px;
}

i.fa-minus-circle {
  display: none;
}

/*Form styling*/

.new-idea-form {
  background-color: #eaeaea;
  width: 100%;
}

.form-section {
/*   display: flex; */
  /* justify-content: center; */
}

.idea-form {
  display: flex;
  flex-direction: column;
}

.idea-body-input {
  height: 125px;
}

.save-btn {
  font-size: 1em;
  font-weight: 800;
}


/*Filter Button Styling*/

.filter-label {
  display: block;
  font-size: .9em;
}

.filter-btns {
  display: flex;
  justify-content: space-between;
}

.filter-btn {
  margin: 10px 0px;
  width: 18%;
}

.idea-title-input:focus,
.idea-body-input:focus {
  outline-color: #b2a1b1;
}

.active-btn {
  background: #2b2728;
}


/*Show More/Show Less styling*/

.show-btn {
  display: block;
  margin:  25px auto;
  width: 100%;
}

.hidden {
  display: none;
}

/*Generated card styling*/

.card-area {
  display: flex;
  flex-direction: column-reverse;
}

.idea-card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px 0px;
}

.card-main {
  padding: 10px 20px;
}

.card-bottom {
  border-top: 2px solid #d2cccd;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.card-btns {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.card-btns .btn-image {
  margin-right: 20px;
}

.delete-btn {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.btn-image {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

/*//needs fixin*/
.btn-image:hover {
  filter: invert(.5) sepia(1) saturate(0) hue-rotate(275deg);
}

.idea-quality {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}

.char-txt {
  color: #a0a0a0;
  font-size: 14px;
  margin: 5px 0px 0px 5px;
}

.error {
  color: darkred;
}

.error-border {
  border-color: darkred;
}

.hide-card {
  display: none;
}


/*Animation*/ 
.pb-animation img {
  left: -400px;
  position: absolute;
  top: -40px;
  width: 300px;
  z-index: 1;
}

.mr-pb {
    animation: fly 4s linear;
}

@keyframes fly {
  0% {
      transform: translate(2000px, 0px);
  }
  100% {
      transform: translate(-300px, 0px);
  }
}


/*Media Queries*/
@media only screen (max-width:1150px) {
  section {
    min-width: 650px;
    width: 60%;
  }

  button {
    font-size: .8em;
    padding: 5px;
  }

  .filter-button {
    width: auto;
  }
}

@media only screen and (max-width:830px) {
  section {
    min-width: 480px;
    width: 80%;
  }

  header {
    align-content: center;
    flex-direction: column;
    height: 135px;
    padding: 0px;
  }

  h1 {
    font-size: 2em;
    margin: 10px;
  }

  .search-box {
    flex: initial;
    padding: 0px;
  }

  .search-box input {
    min-height: 0px;
    max-height: 35px;
  }

  .search-btn {
    min-height: 0px;
    max-height: 35px;
    margin: 0 auto;
  }

  button {
    font-size: .8em;
    padding: 5px;
  }
}

@media only screen and (max-width:525px) {

  body {
    font-size: 1.2em;
  }

  header {
    height: 60px;
  }

  h1 {
    font-size: 1.7em;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  h3.idea-quality {
    font-size: 16px;
  }

  section {
    min-width: 0px;
    width: 90%;
  }


  .search-input {
    display: none;
  }

  .search-btn {
    background: none;
    border: none;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 12px;
  }

  .filter-label {
    text-align: center;
  }
  
  .filter-btns {
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter-btn {
    margin: 5px;
    padding: 5px 10px;
    width: auto;
  }

  header.header-open {
    height: 120px;
    justify-content: flex-start;
    position: relative;
  }

  div.search-open {
    border-radius: 5px;
    height: auto;
    left: 15px;
    max-height: auto;
    position: absolute;
    right: 15px;
    top: 65px;
    width: 92%;
  }

  input.search-input-open {
    display: inline-block;
    width: 100%;
  }

  button.search-btn-open {
    background-color: #d2cccd;
    border-radius: 0px 5px 5px 0px;
    position: static;
  }

  div.search-box i.fa-lg-open {
    display: none;
  }

  div.search-box i.fa-minus-circle-open {
    color: #fff;
    display: inline-block;
    font-size: 1.5em;
    width: 25px;
  }


}

