* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  background-color: #f9f9fa
}

/*Header Styling*/

header {
  display: flex;
  align-items: center;
  background-color: #524649;
  height: 90px;
  padding: 40px;
}

h1 {
  color: #b2a1b1;
  font-size: 2.25em;
  font-weight: 800;
}

h1 span {
  color: #fff;
}

h2 {
  color: #6e646b;
  margin: 10px 0px;
  font-size: 1.4em;
}

h2:focus {
  outline: none;
}

input, 
button, 
textarea {
  min-height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
}

input, 
textarea,
.idea-card {
  border: 2px solid #d2cccd;
  line-height: 1.5;
}

input,
textarea {
  font-size: 18px;
}

input:focus,
textarea:focus {
  outline-color: grey;
}

button {
  color: #fff;
  font-weight: 800;
  background-color: #6e646b;
  border-radius: 5px;
  margin: 30px 0px;
  cursor: pointer;
}

button:hover {
  background-color: #524649;
}

button:disabled {
  background: #c2c1c0;
}

label {
  color: #7c7879;
  margin-top: 20px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.search {
  align-items: center;
  display: flex;
  flex: 25%;
  justify-content: flex-end;
}

h2:focus,
button:focus,
#search-input:focus,
.search-btn:focus,
.body-txt:focus,
.title-txt:focus {
  outline: none;
}

#search-input {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
  width: 275px;
}

.search-btn {
  background-color: #d2cccd;
  border-radius: 0px 5px 5px 0px;
}

.search-btn:hover {
  background-color: #6e646b;
}

i.fa-lg {
  color: #fff;
  font-size: 1.2em;
  width: 25px;
}

/*Form styling*/

.form-section {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
}

.idea-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.idea-body-input {
  height: 125px;
  padding: 10px;
}

.filter-btns {
  display: flex;
  justify-content: center;
}

.filter-btn {
  width: 170px;
  margin: 10px;
}

.idea-body-input {
  height: 70px;
}

.idea-title-input {
  height: 35px;
}

.idea-title-input:focus,
.idea-body-input:focus {
  outline-color: #b2a1b1;
}

.idea-title,
.body-title {
  color: #7c7879;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.save-btn {
  color: #fff;
  font-weight: 800;
  background-color: #c2c1c0;
  border-radius: 5px;
  margin: 25px 0px 15px 0px;
  height: 35px;
}

.save-btn:hover {
  background-color: #524649;
  cursor: pointer;
}

/*Filter Button Styling*/

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter {
  color: #fff;
  font-weight: 800;
  background-color: #6e646b;
  border-radius: 5px;
  height: 35px;
  width: 180px;
  margin: 10px 0px;
}

.filter:hover {
  background-color: #534649;
  cursor: pointer;
}

/*Show More/Show Less styling*/

.show-less-btn {
  color: #fff;
  font-weight: 800;
  background-color: #6e646b;
  border-radius: 5px;
  margin: 25px 0px 15px 0px;
  height: 35px;
  display: block;
  margin:  10px auto;
  width: 53%;
}

.show-less-btn:hover {
  background-color: #524649;
  cursor: pointer;
}

.show-less-btn:focus {
  outline: none;
}

/*Generated card styling*/

.card-area {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.idea-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 50%;
  justify-content: flex-end;
  margin: 20px 20px;
}

.card-main {
  padding: 10px 20px;
}

.body-txt {
  color: #7c7879;
}

.card-bottom {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #d2cccd;
}

.card-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-btns .btn-image {
  margin-right: 20px;
}

.delete-btn {
  justify-content: flex-end;
  align-items: center;
}

.btn-image {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

/*//needs fixin*/
.btn-image:hover {
  filter: invert(.5) sepia(1) saturate(0) hue-rotate(275deg);
}

.idea-quality {
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
  color: #7c7879
}

/*Media Queries*/

@media only screen and (min-width: 1900px) and (max-width:800px) {
  .idea-form {
    width: 70%;
  }
  
  .idea-card{
    width: 68%;
  }
}

@media only screen and (min-width:600px) and (max-width:800px) {
  .idea-form {
    width: 80%;
  }
  
  .idea-card{
    width: 78%;
  }
}

@media only screen and (max-width:599px) {
  .idea-form {
    width: 90%;}
  
  .idea-card{
    width: 88%;
}

  h1 {
    display: flex;
    font-size: 44px;
    margin-left: 0px;
}
  
  header {
  display: flex;
  background-color: #524649;
  height: 150px;
  flex-direction: column;
  align-content: center;

}

  h1 {
  color: #b2a1b1;
  font-weight: 800;
  margin-left: 10px 0px 20px 10px;
  align-content:center;
  justify-content: center;
}
  
  .search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

  #search-input {
  width: 80%;
  margin-left: 20px;
}
  
  .filter-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-btn {
  color: #fff;
  font-weight: 800;
  background-color: #6e646b;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 35px;
  cursor: pointer;
  width: 88%;
  margin: 10px;
}
  }

